PyPDF2
pycld2
nltk
selenium
delver
pdfminer
pyvirtualdisplay
textstat
fsspec>=0.3.3
textblob
twython
streamlit
wordcloud
seaborn
bs4
natsort
dask
plotly
tabulate
#jupyter-server-proxy==1.2.0
#nbserverproxy==0.8.8
